[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
flask = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
faker = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
dev = "flask --app src.main.server --debug run --port 8000 --reload"
test = "pytest -v -s"
