[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
faker = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest -v -s"
